{% extends "base.html" %}

{% block content %}
<h1>Log in</h1>
<p>Hey, maybe you should --> <a href="/register">CREATE New ACCOUNT?</a></p>
<form action="/login" method="post">
    <div class="form-group">
        <label for="username">Username</label>
        <input name="username" class="form-control" type="username" value="{{ username }}">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input name="password" class="form-control" type="password">
    </div>
    <input type="submit" value="Submit Login" class="btn btn-default">
</form>
{% endblock %}