{% extends "base.html" %}

{% block content %}
    <h1>Please Login</h1>
    <br>
    <form method='post'>
        <label>Username:
            <br>
            <input type='text' name='Username' value="{{username}}">
        </label>
        <p></p>
        <label>Password:
            <br>
            <input type="password" name='Password' value="{{password}}">
        </label>
            <br>
        <label>Verify Password:
            <br>
            <input type="password" name='verify' value="{{password}}">
        </label>
        <p></p>
        <input type="submit" value='Enter'>
    </form>
    
{% endblock %}  