{% extends "base.html" %}

{% block content %}
<h3>All Blog Posts by <a href='./blog?userID={{user.id}}' class="">{{user.username}}</a></h3>

{% if posts|length == 0 %}
<p>No posts yet</p>
{% else %}

<table border="1" width="600" style="border-spacing: 2px;">
        {% for post in posts %}
        <tr>
            <td>
                <b><a href='./blog?id={{post.id}}' class="">{{post.title}}</a></b>
                <br>{{post.body}}<br><br> Written by: <a href='./blog?userID={{post.owner.id}}' class="">{{post.owner.username}}</a> Author Since: {{post.owner.created_dt}}

            </td>
        </tr>
        {% endfor %}
    </table>
    
{% endif %}

{% endblock %}